<!DOCTYPE html>
<html>
<head><title>Blog</title></head>
<body>
    <h2>New blog post</h2>
    <form method='post'>
        <label>
            <div>Subject</div>
            <input type="text" name="subject" size=60
            value="{{subject}}">
        </label>
        <label>
            <div>Content</div>
            <textarea rows="8" cols="60" name="content">{{content}}</textarea>
        </label>
        <div class="error">{{error}}</div>
        <input type="submit">
    </form>
</body>
</html>